<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remodelaciones Segura</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}"><img src="img/remodelaciones segura.jpg" alt="" width="182"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:href="@{/Acerca_de_nosotros}" class="nav-link">Acerca</a></li>
                <li class="nav-item"><a th:href="@{/Clientes}" class="nav-link">Clientes</a></li>
                <li class="nav-item"><a th:href="@{/Contacto}" class="nav-link">Contacto</a></li>
                <li class="nav-item"><a th:href="@{/Galeria}" class="nav-link">Galeria</a></li>
                <li class="nav-item"><a th:href="@{/Proyectos}" class="nav-link">Proyectos</a></li>
                <li class="nav-item"><a th:href="@{/Servicios}" class="nav-link">Servicios</a></li>
                <li class="nav-item"><a th:href="@{/Agendar}" class="nav-link">Agendar</a></li>
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item"><a th:href="@{/login}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
</header>

        <section class="container mt-5">
    <h2 class="text-center mb-4">¡Bienvenido!</h2>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Puedes mostrar información del usuario autenticado aquí -->
                <p th:text="'Hola, ' + ${usuarioAutenticado.usuario} + '!'" class="font-weight-bold"></p>
                <p>¡Has iniciado sesión correctamente!</p>

                <!-- Puedes agregar más contenido según tus necesidades -->
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-danger mt-3" id="cerrarSesion" onclick="cerrarSesion()">Cerrar Sesión</button>
</section>

        <script>
    function cerrarSesion() {
        window.location.href = '/logout'; // Asegúrate de tener la ruta correcta para cerrar sesión
    }
</script>
    </body>
</html>
