<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remodelaciones Segura</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}"><img src="img/remodelaciones segura.jpg" alt="" width="182"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:href="@{/Acerca_de_nosotros}" class="nav-link">Acerca</a></li>
                <li class="nav-item"><a th:href="@{/Clientes}" class="nav-link">Clientes</a></li>
                <li class="nav-item"><a th:href="@{/Contacto}" class="nav-link">Contacto</a></li>
                <li class="nav-item"><a th:href="@{/Galeria}" class="nav-link">Galeria</a></li>
                <li class="nav-item"><a th:href="@{/Proyectos}" class="nav-link">Proyectos</a></li>
                <li class="nav-item"><a th:href="@{/Servicios}" class="nav-link">Servicios</a></li>
                <li class="nav-item"><a th:href="@{/Agendar}" class="nav-link">Agendar</a></li>
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item"><a th:href="@{/login}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
</header>

        <section class="proyectos-section">
            <h1 class="proyectos-title">Nuestros Proyectos Destacados</h1>

            <article class="proyecto">
                <h2>Residencia Moderna en las Montañas</h2>
                <p>Descubre nuestra impresionante casa moderna enclavada en medio de las montañas. Diseñada y construida para fusionarse con la naturaleza, esta residencia combina elegancia y funcionalidad, brindando vistas panorámicas inigualables.</p>
                <img src="img/montaña.jpg" alt="Residencia en las Montañas" width="500">
            </article>

            <article class="proyecto">
                <h2>Renovación de una Antigua Casa Colonial</h2>
                <p>Revive la historia con nuestra meticulosa renovación de una antigua casa colonial. Hemos preservado su encanto histórico mientras incorporamos comodidades modernas. Cada detalle ha sido cuidadosamente considerado para mantener la autenticidad de la estructura.</p>
                <img src="img/casa colonial.jpg" alt="Renovación Colonial" width="500">
            </article>

            <article class="proyecto">
                <h2>Construcción de una Villa de Lujo</h2>
                <p>Explora nuestra villa de lujo personalizada con detalles exclusivos y comodidades excepcionales. Este proyecto ejemplifica nuestra capacidad para llevar a cabo proyectos de alta gama con precisión y estilo.</p>
                <img src="img/villa de lujo.jpg" alt="Villa de Lujo" width="500">
            </article>
        </section>

        <section class="seccion-proyecto">
            <div class="titulo-con-boton-proyecto">
                <h2 class="inicio">No dudes cotizar tu proyecto con nosotros</h2>
            </div>
        </section>

        <div class="politicas-redes">
            <div class="politicas">
                <p>&copy; 2023 Remodelaciones Segura</p>
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Support</a></p>
                <p class="politicas-frase">Remodelaciones Segura - Tu socio de confianza en construcciones y remodelaciones en Costa Rica.</p>
            </div>

            <div class="redes-sociales">
                <a href="https://www.facebook.com/profile.php?id=100057123503909" class="redes-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com" class="redes-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com" class="redes-icon"><i class="fab fa-twitter"></i></a>
            </div>


        </div>

        
    </body>

</html>
