<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Remodelaciones Segura</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}"><img src="img/remodelaciones segura.jpg" alt="" width="182"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a th:href="@{/Acerca_de_nosotros}" class="nav-link">Acerca</a></li>
                        <li class="nav-item"><a th:href="@{/Clientes}" class="nav-link">Clientes</a></li>
                        <li class="nav-item"><a th:href="@{/Contacto}" class="nav-link">Contacto</a></li>
                        <li class="nav-item"><a th:href="@{/Galeria}" class="nav-link">Galeria</a></li>
                        <li class="nav-item"><a th:href="@{/Proyectos}" class="nav-link">Proyectos</a></li>
                        <li class="nav-item"><a th:href="@{/Servicios}" class="nav-link">Servicios</a></li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                            <a th:href="@{/Agendar}" class="nav-link">
                                <button class="btn btn-info">
                                    <i class="far fa-calendar-alt"></i> Agendar
                                </button>
                            </a>
                        </li>

                    </ul>

                    <div class="ml-auto">
                        <ul class="navbar-nav">

                            <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                                <a th:href="@{/login}" class="nav-link">
                                    <button class="btn btn-secondary">
                                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                                    </button>
                                </a>
                            </li>

                        </ul>
                    </div>


            </nav>
        </header>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center">Register</h2>
                    <form th:action="@{/register}" method="post">
                        <!-- Username -->
                        <!-- Apellidos -->
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required/>
                        </div>

                        <!-- Full Name -->
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required/>
                        </div>

                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" required/>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required/>
                        </div>


                        <!-- Email -->
                        <div class="form-group">
                            <label for="correo">Email</label>
                            <input type="email" class="form-control" id="correo" name="correo" required/>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group">
                            <label for="telefono">Phone Number</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono"/>
                        </div>

                        <!-- Profile Image URL -->
                        <div class="form-group">
                            <label for="ruta_imagen">Profile Image URL</label>
                            <input type="text" class="form-control" id="ruta_imagen" name="rutaImagen"/>
                        </div>

                        <!-- Active (Checkbox) -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="activo" name="activo" checked/>
                            <label class="form-check-label" for="active">Active</label>
                        </div>

                        <div class="form-group">
                            <label for="rol">Select Role:</label>
                            <select class="form-control" id="rol" name="rol" required>
                                <option value="ROLE_USER">User</option>
                                <option value="ROLE_ADMIN">Admin</option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="politicas-redes">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="politicas">
                            <p>&copy; 2023 Remodelaciones Segura</p>
                            <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Support</a></p>
                            <p class="politicas-frase">Remodelaciones Segura - Tu socio de confianza en construcciones y remodelaciones en Costa Rica.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="redes-sociales">
                            <a href="https://www.facebook.com/profile.php?id=100057123503909" class="redes-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com" class="redes-icon"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.twitter.com" class="redes-icon"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    </body>
</html>

</html>
